---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*");

// Preload images
const imageEntries = await Promise.all(
  Object.entries(images).map(async ([imagePath, resolver]) => {
    const image = await resolver();
    const optimizedImage = await getImage({
      src: image.default,
      width: 1200,
    });
    return { image, optimizedImage };
  }),
);
---

<div id="main">
  {
    imageEntries.map(({ image, optimizedImage }) => (
      <article class="thumb">
        <a class="image" href={optimizedImage.src}>
          <Image src={image.default} height="750" alt="Astro Multiverse" />
        </a>
      </article>
    ))
  }
</div>
